@{
    ViewBag.Title = "Contacto";
}
<h2>Servicio Medico LGE Monterrey</h2>
<h3>Margarita Mezquitic Martinez</h3>

<address>
    Ave. Industrias # 180<br />
    Fraccionamiento Industrial PIMSA Ote.<br />
    <abbr title="Phone">Tel. Centro Medico:</abbr>
    8196.5500 Ext. 5504 y 5485
</address>

<address>
    <strong>Support:</strong> <a href="mailto:margarita.mezquitic@lge.com">margarita.mezquitic@lge.com</a><br />
    <strong>Support:</strong> <a href="mailto:jesus.sosa@lge.com">jesus.sosa@lge.com</a> 
</address>