@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Servicio Médico de LG Monterrey</h1>
    <p class="lead">En esta página podrás actualizar tu información medica desde cualquier lugar de una manera facil y rapida.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Ver más &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Prevención</h2>
        <p>
            ¡Tú juegas un papel importante para frenar al COVID-19!. 
        </p>
        <p> Lavate las manos con agua y con jabón y recuerda, Guarda la sana distancia 1.50 m.</p>
        <p>Quedate en casa<p/>
        <p><a class="btn btn-default" href="https://coronavirus.gob.mx/prevencion/">Ver mas &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Cuales son los sintomas?</h2>
        <p>Una persona debe sospechar de COVID-19 cuando presenta al menos dos de los siguientes síntomas.</p>
        <p><a class="btn btn-default" href="https://coronavirus.gob.mx/covid-19/">Ver mas &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Que hacer si presento sintomas?</h2>
        <p>Si perteneces a alguno de los grupos de mayor riesgo para complicarse, como las personas de 60 años y más, personas que viven con enfermedades como hipertensión o diabetes, las mujeres embarazadas, menores de cinco años y personas que viven con cáncer o VIH, DEBES ACUDIR A RECIBIR ATENCIÓN MÉDICA.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Ver mas &raquo;</a></p>
    </div>
</div>